:root{
	--TipoLetra: 'Arial';
	--colorUno:  #212f3c ;
	--colorDos: #17202a;
	--colorTexto: #fdfefe;
	--colorTres: #c0392b;
}
*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	font-family: var(--TipoLetra);
}
html,body 
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#contenedor{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: var(--colorUno);
}
span{
	cursor:pointer ;
	display: flex;
	justify-content: center;
	align-items: center; 
} 
#menu{
	display: flex;
	width: 100%;
	height: 10%;
	color: var(--colorTexto);
	justify-content: space-around;
	align-items: center;
}
#contenedor button[type="submit"]{
	border: none;
	outline: none;
	height: 50px;
	width: 20%;
	background: var(--colorTres);
	color: var(--colorTexto);
	font-size: 18px;
	border-radius: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.fondo{
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: row;
}
/*#informacion{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: var(--colorDos);
	overflow: scroll;
	justify-content: center;
	align-items: center;
}*/
.seccion
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: var(--colorDos);
	overflow: scroll;
	justify-content: center;
	align-items: center;
}
.formulario
{
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.input
{
	border: none;
	border-bottom: 1px solid var(--colorTexto);
	background: transparent;
	outline: none;
	height: 40px;
	color: var(--colorTexto);
	font-size: 16px;
	margin: 10px;
	width: 300px;
}
#cerrar_sesion{
	transform: translate(-50%, -50%)
}
#error_de_Comprobacion{
	display: none;
	color: red;
	margin-top: 2px;
}
#error_vacios{
	display: none;
	color: red;
	margin-top: 2px;
}
#error_de_Contra{
	display: none;
	color: red;
	margin-top: 2px;
}
#error_de_Correo{
	display: none;
	color: red;
	margin-top: 2px;
}
#capa1{
	width: 100%;
	height: 100px;
}
#capa2{
	width: 100%;
	height: 100px;
}
#capa3{
	width: 100%;
	height: 100px;
}
#capa4{
	width: 100%;
	height: 100px;
}